.m-2 {
  margin: 0.5rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.mb-16 {
  margin-bottom: 4rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-8 {
  margin-top: 2rem
}

.mt-20 {
  margin-top: 5rem
}

.mb-20 {
  margin-bottom: 5rem
}

.mt-2 {
  margin-top: 0.5rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.flex {
  display: flex
}

.h-20 {
  height: 5rem
}

.h-24 {
  height: 6rem
}

.h-16 {
  height: 4rem
}

.max-h-\[600px\] {
  max-height: 600px
}

.w-full {
  width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.basis-6\/12 {
  flex-basis: 50%
}

.basis-1\/2 {
  flex-basis: 50%
}

.flex-row {
  flex-direction: row
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-md {
  border-radius: 0.375rem
}

.bg-app {
  --tw-bg-opacity: 1;
  background-color: rgb(244 245 249 / var(--tw-bg-opacity))
}

.bg-card {
  --tw-bg-opacity: 1;
  background-color: rgb(237 237 237 / var(--tw-bg-opacity))
}

.bg-default {
  --tw-bg-opacity: 1;
  background-color: rgb(230 230 230 / var(--tw-bg-opacity))
}

.bg-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(86 103 253 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.p-2 {
  padding: 0.5rem
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.pb-2 {
  padding-bottom: 0.5rem
}

.text-center {
  text-align: center
}

.font-\[\"Exo-Medium\"\] {
  font-family: "Exo-Medium"
}

.font-\[\"Exo-Regular\"\] {
  font-family: "Exo-Regular"
}

.font-\[\"Exo-SemiBold\"\] {
  font-family: "Exo-SemiBold"
}

.font-\[\"Exo-Bold\"\] {
  font-family: "Exo-Bold"
}

.font-\[\"Roboto-Regular\"\] {
  font-family: "Roboto-Regular"
}

.font-\[\"Roboto-SemiBold\"\] {
  font-family: "Roboto-SemiBold"
}

.font-\[\"Roboto-Light\"\] {
  font-family: "Roboto-Light"
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(99 109 119 / var(--tw-text-opacity))
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(86 103 253 / var(--tw-text-opacity))
}

.text-title {
  --tw-text-opacity: 1;
  color: rgb(54 67 86 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
